
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{

    font-family: 'Arial Narrow';
}

.header {
    background-color: #f8f9fd; 
    padding: 20px 0;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.02);
}

/*  desktop */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #6a7ce2;
    cursor: pointer;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px; 
}

.nav-links a {
    text-decoration: none;
    color: #1a1a2e; 
    font-weight: 550;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #6a7ce2;
    border-bottom: 2px solid #6a7ce2;
}


.burger {
    display: none; 
    position: absolute;
    right: 20px;
    top: 25px;
    font-size: 24px;
    cursor: pointer;
    z-index: 100;
}

.mobile-menu {
    display: none; 
}


  /* About section */


.about-section {
  padding: 100px 20px;
  background-color: #f2f2f2;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}


.section-title {
  text-align: center;
  margin-bottom: 60px;
  color: #7461c1;
  font-size: 35px ;
  
}

.content {
  display: grid;
  grid-template-columns: 1fr 1.5fr; 
  gap: 80px;
  align-items: center;
}


.image-box img {
  width: 100%;
  height: auto ;
  border-radius: 30px; 
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
}

.text-box h3 {
  font-size: 30px;
  font-weight: 550;
  color: #222;
  line-height: 1.3;
  margin-bottom: 25px;
}

.text-box p {
  color:#7c7c7c;
  line-height: 1.6;
  font-size: 15px;
  margin-bottom: 20px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 30px;
}

.skill-tag {
  padding: 8px 20px;
  border: 1px solid rgb(223, 223, 223) ;
  border-radius: 50px;
  font-size: 12px;
  color: #7461c1;
  background: white;
  cursor: pointer;
  transition: color 0.3s ease;
}

.skill-tag:hover{
  color:white ;
  background:  #7461c1; 
}
