@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #fbfbfb;
    color: #333;
}
.Hero-Section{
    background:linear-gradient(90deg,#7760b9 ,#7978d4,#cb85df,#df8def);
    height: 95vh;
    display: flex;
    flex-direction: column; 
     justify-content: center;
    align-items: center; 

}
.p1{
    text-align: center;
    color: white;
     position: relative;

    top: -15px; 
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 900;
}
.Heading1{
    color: white;
    font-size: 3rem;
    line-height: 1.2;
  font-family: "Poppins", sans-serif;

}
.Heading1,span{
    text-align: center;
}
.pragraph2{
    color: white;
    line-height: 1.6;
    padding-top: 10px;
}
.pragraph2, span{
    text-align: center;
}
.Action-btn button{
    border: 1px solid white;
    padding: 20px 25px ;
    background-color: #b476d0;
    color: white;
    border-radius: 15px;
    margin: 20px;
      transition: transform 0.5s ease;
}
.Action-btn button:hover{
cursor: pointer;
  transform: translateX(5px); 
  background-color:#df8def ;
} 



.featured {
  text-align: center;
  padding: 40px 0;
  margin-top: 10px;
}

.featured h2 {
  color: #6a4fb3; 
  font-size: 40px;
  margin-bottom: 10px;
}

.underline {
  width: 60px;       
  height: 4px;        
  background-color: #6a4fb3;
  margin: 0 auto;     
  border-radius: 2px; 
}

.container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;
}
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}
.card {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
}
.card:hover {
    transform: translateY(-5px);
}
.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    background-color: #eee;
    border-radius: 10px;
}
.card-content {
    padding: 30px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  
}
.card h3 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #2d3436;
}
.card p {
    color: #636e72;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 25px;
    flex-grow: 1;
}
.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.tag {
    background-color: #f1f2f6;
    color: #636e72;
    padding: 6px 16px;
    border-radius: 50px;
    font-size: 13px;
    font-weight: 500;
}
.tag:hover{
    background-color: rgb(0, 81, 255);
    color: white;
}

.footer {
  background: linear-gradient(to right, #1f2a63, #6a1b9a);
  padding: 20px 50px;
  color: white;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-left {
  font-size: 14px;
}

.footer-right a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  font-size: 14px;
  transition: 0.3s;
}

.footer-right a:hover {
  opacity: 0.7;
}
