
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #fbfbfb;
    color: #333;
}

/* HEADER */

.header {
    background-color: #f8f9fd; 
    padding: 20px 0;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    position: fixed;
    z-index: 1000; 
}

.navbar {
    display: flex;
    justify-content: space-around; 
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: #6a7ce2;
    cursor: pointer;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px; 
}

.nav-links a {
    text-decoration: none;
    color: #1a1a2e; 
    font-weight: 550;
    font-size: 16px;
    transition: 0.3s ease;
}

.nav-links a:hover {
    color: #6a7ce2;
    border-bottom: 2px solid #6a7ce2;
}

.burger {
    display: none; 
    position: absolute;
    right: 20px;
    top: 25px;
    font-size: 24px;
    cursor: pointer;
    z-index: 100;
}

.mobile-menu {
    display: none; 
}
/* HERO SECTION */

.Hero-Section {
    background: linear-gradient(90deg,#7760b9,#7978d4,#cb85df,#df8def);
    height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    text-align: center;
}

.p1 {
    color: white;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 60px;
}

.Heading1 {
    color: white;
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 10px;
    font-weight: 600;
}

.pragraph2 {
    color: white;
    line-height: 1.6;
    padding-top: 10px;
    margin-bottom: 10px;
}

.Action-btn button {
    border: 1px solid rgba(255, 255, 255, 0.871);
    padding: 15px 25px;
    background-color: #c2c2ff87;
    color: white;
    border-radius: 50px;
    margin: 20px;
    transition: 0.4s ease;
}

.Action-btn button:hover {
    cursor: pointer;
    transform: translateY(5px); 
    background-color: #7860b9b8;
}


/* ABOUT SECTION */

.about-section {
    padding: 100px 20px;
    background-color: #ffffff;
}

.container-about {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
}

.section-title {
    text-align: center;
    margin-bottom: 60px;
    color: #7461c1;
    font-size: 35px;
}




.content {
    display: grid;
    grid-template-columns: 1fr 1.5fr; 
    gap: 80px;
    align-items: center;
}

.image-box img {
    width: 100%;
    border-radius: 30px; 
    box-shadow: 0 20px 50px rgba(0,0,0,0.2);
}

.text-box h3 {
    font-size: 30px;
    font-weight: 550;
    margin-bottom: 25px;
}

.text-box p {
    color: #7c7c7c;
    line-height: 1.6;
    font-size: 15px;
    margin-bottom: 20px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 30px;
}

.skill-tag {
    padding: 8px 20px;
    border: 1px solid rgb(223,223,223);
    border-radius: 50px;
    font-size: 12px;
    color: #7461c1;
    background: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.skill-tag:hover {
    color: white;
    background: #7461c1;
}


/* PORTFOLIO */

.featured {
    text-align: center;
    padding: 40px 0;
    margin-top: 40px;
}

.porfolio-container{
    max-width: 1200px;
    margin: 70px auto;
    min-height: 100vh;
}

.featured h2 {
    color: #6a4fb3; 
    font-size: 40px;
}


.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.card {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.card-content {
    padding: 30px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.card h3 {
    font-size: 22px;
    margin-bottom: 15px;
}

.card p {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 25px;
    flex-grow: 1;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    
}

.tag {
    background-color: #f1f2f6;
    padding: 6px 16px;
    border-radius: 50px;
    font-size: 13px;
    cursor: pointer;

    
}

.tag:hover {
    background-color:#7461c1;
    color: white;
}


/* CONTACT */

.contact {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    padding: 40px 20px;
    background: linear-gradient(135deg, #3b5bdb 0%, #862e9c 100%);
}

.container-contact {
    max-width: 780px;
    text-align: center;
}

.contact h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

.subtitle {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 50px;
}

.contact-form {
    text-align: left;
}

.name_email {
    display: flex;
    gap: 20px;
}

.input {
    margin-bottom: 20px;
    flex: 1;
}

label {
    font-size: 12px;
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid rgba(255,255,255,0.4);
    background: rgba(255,255,255,0.05);
    color: white;
    font-size: 15px;
    outline: none;
}

.send-btn {
    width: 100%;
    padding: 14px;
    border-radius: 50px;
    border: none;
    background: linear-gradient(90deg, #5c7cfa, #9775fa);
    color: white;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

.send-btn:hover {
    transform: translateY(-2px);
    opacity: 0.9;
}


/* FOOTER */

.footer {
    background: linear-gradient(to right, #1f2a63, #6a1b9a);
    padding: 20px 50px;
    color: white;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-right a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-size: 14px;
    transition: 0.3s;
}

.footer-right a:hover {
    opacity: 0.7;
}


/* RESPONSIVE 768px */

@media (max-width: 768px) {

    /* NAVIGATIONS */

    .navbar .nav-links {
        display: none;
    }

    .burger {
        display: block;
        color: #7978d4;
        border: none;
        background-color: white;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 70%;
        background-color: #f8f9fd;
        box-shadow: -5px 0 15px rgba(0,0,0,0.1);
        transform: translateX(100%);
        transition: 0.4s ease-in-out;
    }

    .mobile-menu[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-menu .nav-links {
        flex-direction: column;
        gap: 40px;
    }


    /* HERO */

    .Heading1 {
        font-size: 2rem;
    }
 
    /* ABOUT */

    .container-about {
        min-height: auto;
    }

    .content {
        grid-template-columns: 1fr;
        gap: 40px;
        text-align: center;
    }

    .skills-container {
        justify-content: center;
    }

        /* CONTACT */

    .name_email {
        flex-direction: column;
    }

}
