@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Hero-Section{
    background:linear-gradient(90deg,#7760b9 ,#7978d4,#cb85df,#df8def);
    height: 95vh;
    display: flex;
    flex-direction: column; 
     justify-content: center;
    align-items: center; 

}
.p1{
    text-align: center;
    color: white;
     position: relative;

    top: -15px; 
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 900;
}
.Heading1{
    color: white;
    font-size: 3rem;
    line-height: 1.2;
  font-family: "Poppins", sans-serif;

}
.Heading1,span{
    text-align: center;
}
.pragraph2{
    color: white;
    line-height: 1.6;
    padding-top: 10px;
}
.pragraph2, span{
    text-align: center;
}
.Action-btn button{
    border: 1px solid white;
    padding: 20px 25px ;
    background-color: #b476d0;
    color: white;
    border-radius: 15px;
    margin: 20px;
      transition: transform 0.5s ease;
}
.Action-btn button:hover{
cursor: pointer;
  transform: translateX(5px); 
  background-color:#df8def ;
} 
